<% title "Work" %>

<p>
  <strong>Name:</strong>
  <%=h @work.name %>
</p>

<p>
  <%= link_to "Edit", edit_work_path(@work) %> |
  <%= link_to "Destroy", @work, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", works_path %>
</p>
